body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("./background-img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
}

#app-container {
  max-height: 100dvh;
  max-width: 100dvw;
  padding: 10px 50px;
  margin: 30px 30px 10px;
}

#header {
  display: flex;
  justify-content: space-around;
}

#app-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #111;
  display: flex;
  align-items: flex-end;
  font-size: 2rem;
}

#out {
  align-self: flex-start;
}

#n {
  font-family: "Yellowtail", cursive;
  color: #fbbf24;
  font-size: 4.2rem;
  font-weight: 100;
}

#user-input {
  flex-direction: column;
  justify-content: space-around;
}

#destination {
  padding: 15px;
  margin: 30px auto;
  border-radius: 20px;
}

#search-icon {
  max-height: 50px;
  max-width: 50px;
}

#search-button {
  margin: 50px auto;
  border: none;
  border-radius: 50%;
  padding: 15px;
  background: transparent;
  box-shadow: 0 0 22px 15px rgba(255, 255, 255, 0.4);
}

#results {
  padding: 0px 10px 10px;
  min-width: 80%;
  margin: 0px 10px 10px;
  grid-template-columns: 50% 50%;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 5px;
  border: rgba(255, 255, 255, 0.3) solid 1px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
}

.icon {
  height: 64px;
  width: 64px;
}

.label {
  font-family: "yellowtail", cursive;
  text-align: center;
}

.sans {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

#tags {
  grid-column-start: span 2;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.places-btn {
  height: 90px;
  width: 90px;
  margin: 5px;
  border: rgba(141, 138, 138, 0.3) solid 1px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
}

#footer {
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}
