body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightgreen;
  flex-direction: column;
}

#app-container {
  max-height: 100dvh;
  max-width: 100dvw;
  padding: 50px;
  margin: 30px;
}

#header {
  display: flex;
  justify-content: space-around;
}

#app-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #111;
  display: flex;
  align-items: flex-end;
  font-size: 1.4em;
}

#out {
  align-self: flex-start;
}

#n {
  font-family: "Yellowtail", cursive;
  color: #fbbf24;
  font-size: 2.5rem;
  margin-right: 0.2rem;
  padding-left: 5px;
}

#user-input {
  flex-direction: column;
  justify-content: space-around;
}

#destination {
  padding: 15px;
  margin: 30px auto;
  border-radius: 20px;
}

#search-icon {
  max-height: 50px;
  max-width: 50px;
}

#search-button {
  margin: 50px auto;
  border: none;
  border-radius: 50%;
  padding: 15px;
  background: transparent;
  box-shadow: 0 0 22px 15px rgba(255, 255, 255, 0.4);
}

#results {
  /* border: #111 dashed 3px; */
  padding: 10px;
  min-width: 80%;
  margin: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.info-box {
  /* border: #111 dashed 1px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 5px auto;
  border: rgb(202, 201, 201) solid 1px;
  border-radius: 10px;
}

.icon {
  height: 64px;
  width: 64px;
}

.label {
  font-family: "yellowtail", cursive;
}

.sans {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

#footer {
}

.hidden {
  display: none;
}

.active {
  display: flex;
}
